<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">TownsApp</a>
    </div>
</nav>

<div class="container mt-5 pt-5" style="max-width: 400px">
    <h2 class="text-center mb-4">Login</h2>

    <!-- Show error -->
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password
    </div>

    <!-- Login form -->
    <form method="post" th:action="@{/login}">
        <input class="form-control" type="text" name="username" placeholder="Username" required>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </form>


    <p class="text-center mt-3">No account?
        <a th:href="@{/register}">Register</a>
    </p>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
